div#header {
    width: 75%;
    height: 35px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    position: fixed;
    top: 0;

    z-index: 999;
    background-color: inherit;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid thin transparent;
    border-radius: 5px;
}

#header > * {
    display: inline-block;
    position: absolute;
    top: 5px;
}

#status-icons {
    position: absolute;
    left: 5px;
}

#status-icons > * {
    position: absolute;
    left: 5px;
    top: 5px;
    opacity: 1;
}

#status-icons > .logo {
    color: #ff6a78;
    border: solid thick transparent;
    opacity: 1;
    z-index: 1000;
}
#status-icons > .logo.hidden {
    opacity: 0;
}
#status-icons > .logo:hover:not(.hidden) {
    cursor: pointer;
    border: solid thick #707070;
    border-radius: 5px;
    background-color: #707070;
    zoom: 1.1;
}

#status-icons > *[class*="balance-scale"].balance-scale-hidden {
    opacity: 0;
}

#status-icons > *[class*="balance-scale"]:nth-child(2).fade-in-out {
    animation-delay: 0s;
}

#status-icons > *[class*="balance-scale"]:nth-child(3).fade-in-out {
    opacity: 0;
    animation-delay: calc(1s * .25);
}

#status-icons > *[class*="balance-scale"]:nth-child(4).fade-in-out {
    opacity: 0;
    animation-delay: calc(1s * .5);
}

#status-icons > *[class*="balance-scale"]:nth-child(5).fade-in-out {
    opacity: 0;
    animation-delay: calc(1s * .75);
}

#exit-button {
    position: absolute;
    right: 0;
}
#exit-button > * {
    color: #263238;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    zoom: 1.5;
}
#exit-button > *:hover {
    color: #c80000;
}

#fragment-path {
    border-radius: 5px;
    background: linear-gradient(90deg, transparent 40%, #fff5 50%, transparent 60%) -200% 0 no-repeat;
    background-size: 200% 100%;
}

span.path-fragment {
    border-radius: 3px;
    border: thin transparent;

    color: inherit;
    background-color: inherit;
}

span.path-fragment:hover {
    cursor: pointer;
    color: cadetblue;
    background-color: darkblue;
}

span.path-fragment.path-fragment-selected {
    color: cadetblue;
    background-color: darkblue;
}