body {
    width: 100%;
    height: 100%;
}

table#filesShow {
    width: 75%;
    height: 100%;
}

td#pathShow {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

table#filesShow td.is-folder {
    font-weight: bold;
}

table#filesShow td.is-file {
    font-size: small;
    font-style: italic;
}

td:first-child {
    border: none !important;
}

.far.fa-folder {
    background-color: gold;
}