body {
    width: 100%;
    height: 100%;
    color: darkblue;
    background-color: gray;
    font-family: Consolas;
}

table#filesShow {
    width: 75%;
    height: 100%;
}

table#filesShow td {
    overflow-x: hidden;
}

td#pathShow {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

table#filesShow td:first-child {
    border: none !important;
}

table#filesShow tr#legend {
    background-color: darkgray;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

table#filesShow td.file-type {
    width: 5%;
    text-align: center;
}

table#filesShow td.file-name {
    width: 45%;
}
table#filesShow td.file-name.is-folder {
    font-weight: bold;
}
table#filesShow td.file-name.is-file {
    font-size: small;
    font-style: italic;
}
.far.fa-folder {
    /*background-color: gold;*/
}

table#filesShow td[class*='file-size'] {
    width: 16.66%;
    font-family: monospace;
}
