body {
    width: 100%;
    height: 100%;
    color: #263238;
    background-color: gray;
    font-family: Consolas;
    font-family: "JetBrains Mono";
    overflow-x: hidden;
    overflow-y: scroll;
}

body.waiting {
    cursor: wait !important;
}

table#filesShow {
    width: 75%;
    height: 100%;
}

table#filesShow tr {
    margin: 1px 0 1px 0;
    background-color: #777;
}

table#filesShow td {
    overflow-x: hidden;
    padding: 0 3px 0 7px;
    border: solid 0px transparent !important;
    border-radius: 3px;
}

td#pathShow {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

td#exitButton {
    text-align: right;
}

td#exitButton > * {
    color: #263238;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    zoom: 1.5;
}

td#exitButton > *:hover {
    color: darkred;
}

table#filesShow tr:nth-child(2) ~ tr:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: black;
}
td#pathShow>span:nth-child(n+1) {
    margin-left: 15px;
}

table#filesShow td:first-child {
    border: none !important;
    padding: 0 !important;
    text-align: center;
}

table#filesShow td#logo {
    position: relative;
    overflow: hidden;
}

table#filesShow td#logo > * {
    position: absolute;
    left: 0;
    top: 0;
    margin: 12%;
    opacity: 1;
}

table#filesShow td#logo > .logo {
    color: #ff6a78;
    opacity: 1;
}

table#filesShow td#logo > .logo.hidden {
    opacity: 0;
}

table#filesShow td#logo > *[class*="balance-scale"].balance-scale-hidden {
    opacity: 0;
}

table#filesShow td#logo > *[class*="balance-scale"]:nth-child(2).fade-in-out {
    animation-delay: 0s;
}

table#filesShow td#logo > *[class*="balance-scale"]:nth-child(3).fade-in-out {
    opacity: 0;
    animation-delay: calc(4s * .25);
}

table#filesShow td#logo > *[class*="balance-scale"]:nth-child(4).fade-in-out {
    opacity: 0;
    animation-delay: calc(4s * .5);
}

table#filesShow td#logo > *[class*="balance-scale"]:nth-child(5).fade-in-out {
    opacity: 0;
    animation-delay: calc(4s * .75);
}

table#filesShow tr#legend {
    background-color: darkgray;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
table#filesShow tr#legend>td:first-child {
    font-size: small;
}

table#filesShow td.file-type {
    width: 3%;
}
table#filesShow td.file-type i[class*='fa-folder'] {
    color: #B59000;
}
table#filesShow td.file-type i[class*='fa-file'] {
    color: #83A8CA;
}

table#filesShow td.file-name {
    width: 63.66%;
}
table#filesShow td.file-name.is-folder {
    font-weight: bold;
}
table#filesShow td.file-name.is-file {
    font-size: small;
    font-style: italic;
}

.far.fa-folder {
    /*background-color: gold;*/
}

table#filesShow td[class*='file-size'] {
    width: 8.33%;
    font-family: monospace;
}

table#filesShow td.file-size {
    text-align: center;
}