<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Folders' size</title>

    <link rel="stylesheet" href="fontawesome/css/all.css">

    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/anim-rotation.css">
    <link rel="stylesheet" href="css/anim-fade-in-out.css">
    <link rel="stylesheet" href="css/anim-fadeOut.css">
    <link rel="stylesheet" href="css/anim-exiting.css">
    <link rel="stylesheet" href="css/tips.css">

    <script src="js/utils.js"></script>
    <script src="js/index.js"></script>
    <script src="js/buttons-animations.js"></script>
    <script src="js/exit-button.js"></script>
    <script src="js/fragmentary-path.js"></script>
    <script src="js/tips.js"></script>
</head>

<body>
<div id="header"
     th:data-path="${path}"
     th:data-path-separator="${pathSeparator}">
    <div id="status-icons">
        <i class="fas fa-lg fa-stream logo" onclick="calculateHere()"></i>
        <i class="fas fa-lg fa-balance-scale-left balance-scale-hidden"></i>
        <i class="fas fa-lg fa-balance-scale balance-scale-hidden"></i>
        <i class="fas fa-lg fa-balance-scale-right balance-scale-hidden"></i>
        <i class="fas fa-lg fa-balance-scale balance-scale-hidden"></i>
    </div>
    <div id="exit-button">
        <i class="far fa-times-circle"
           onmouseenter="exitButtonMouseEnter()"
           onmouseleave="exitButtonMouseLeave()"
           onclick="exitButtonClick()"></i>
    </div>
    <div id="fragment-path"></div>
</div>
    <table id="filesShow" align="center">
        <tr>
            <td></td>
            <td id="pathShow" colspan="3">
                <span><i><b>[[${filesCount}]]</b></i>&nbsp;<span style="font-size: small">file[[${filesCount==1 ? '' : 's'}]] here</span></span>
                <span th:text="${pathSize}" style="font-size: smaller;" />
                <span th:text="${duration}" style="ont-size: smaller; font-style: italic" />
            </td>
            <td></td>
        </tr>
        <tr id="legend">
            <td><i class="far fa-folder fa-xs"></i> / <i class="far fa-file-alt fa-xs"></i></td>
            <td>Filename</td>
            <td class="file-size">Ratio to parent size</td>
            <td>Size</td>
            <td>Size in bytes</td>
        </tr>
        <tr th:attr="data-path=${parentPath}">
            <td colspan="5">..</td>
        </tr>
        <tr th:each="file : ${filesList}" th:attr="data-path=${file.getPath()}">
            <td class="file-type">
                <i th:classappend="${file.isFolder() ? 'far fa-folder' : 'far fa-file-alt'}"></i>
            </td>
            <td class="file-name"
                th:text="${file.getShortName()}"
                th:classappend="${file.isFolder() ? 'is-folder' : 'is-file'}"
                th:style="${'background: linear-gradient(to right, red, transparent ' + (100*file.getRatioToParent()) + '%);'}"></td>
            <td class="file-size-ratio" th:text="${#numbers.formatPercent(file.getRatioToParent(), 1, 2)}"></td>
            <td class="file-size-pretty" th:text="${file.getPrettyPrintedSize()}"></td>
            <td class="file-size" th:text="${file.getSize()!=-1 ? file.getSize() : ''}"></td>
        </tr>
    </table>
    <div id="tips">
        <div class="tip tip-animated" data-dest="#status-icons>.logo" data-fa-num="1">
            To calculate files' sizes click&nbsp;<i class="fas fa-lg fa-stream logo"></i>&nbsp;in desired current directory.<br>
            While waiting the results, the balance scale&nbsp;<i class="fas fa-balance-scale fa-lg balance-scale-hidden"></i>&nbsp;is displayed.
        </div>
        <div class="tip tip-animated" data-dest="#fragment-path" data-fa-num="1">
            Click some of the ancestors here&nbsp;<i class="far fa-hand-point-up fa-2x"></i>&nbsp;and navigate to it.
        </div>
        <div class="tip tip-animated" data-dest="#exit-button" data-fa-num="1">
            <div style="text-align: center;">&nbsp;<i class="far fa-hand-point-up fa-2x"></i><br></div>
            Finished? Push the <s>tempo</s><i class="fas fa-x3 fa-grin-wink"></i>&nbsp;button!
        </div>
    </div>
</body>
</html>